/* reset css */

/* 載入字型 */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700&display=swap&subset=chinese-traditional"); 
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: white;
  font-family: "Noto Sans TC", sans-serif; /* 設定字型 */
  font-size: 1rem;
  line-height: 1.4;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  line-height: 0.9;
}
p {
  margin: 0;
}
ul,
li {
  list-style-type: none; /* 拿掉前方圈圈 */
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none; /* 拿掉底線 */
}

/* reset css end */

.navbar {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 1fr;
  grid-template-rows: auto auto;  
  grid-gap: 10px 10px;  
}

.navbar-brand {
  grid-column: 2 / 4;
  text-align: center;
  margin-right: 0px;
}

.nav-item1 {
  grid-column: 2 / 3;
}
.nav-item2 {
  grid-column: 3 / 4;
}

.section {
  padding: 0 20px;
  padding-top: 150px;
}

.card-img-top {
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
.navbar {
  display: grid;
  grid-template-columns: 1fr auto repeat(5, 1fr) 1fr;
  grid-gap: 0px 10px;  
}

.navbar-brand {
  grid-column: 2 / 3;
  text-align: center;
  /* margin-right: 0px; */
}

.nav-item1 {
  grid-column: 5 / 7;
}

.nav-item2 {
  grid-column: 7 / 8;
}

.section {
  padding-top: 100px;
  max-width: 800px;
  margin: 0 auto;
}

}

